In [28]:
#importing libraries
import pandas as pd
import numpy as np
import mysql.connector
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv("2016.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5617658 entries, 0 to 5617657
Data columns (total 28 columns):
 #   Column               Dtype
---  ------               -----
 0   FL_DATE              object
 1   OP_CARRIER           object
 2   OP_CARRIER_FL_NUM    int64
 3   ORIGIN               object
 4   DEST                 object
 5   CRS_DEP_TIME         int64
 6   DEP_TIME             float64
 7   DEP_DELAY            float64
 8   TAXI_OUT             float64
 9   WHEELS_OFF           float64
 10  WHEELS_ON            float64
 11  TAXI_IN              float64
 12  CRS_ARR_TIME         int64
 13  ARR_TIME             float64
 14  ARR_DELAY            float64
 15  CANCELLED            float64
 16  CANCELLATION_CODE    object
 17  DIVERTED             float64
 18  CRS_ELAPSED_TIME     float64
 19  ACTUAL_ELAPSED_TIME  float64
 20  AIR_TIME             float64
 21  DISTANCE             float64
 22  CARRIER_DELAY        float64
 23  WEATHER_DELAY        float64
 24  NAS_DELAY            float64
 25  SECURITY_DELAY       float64
 26  LATE_AIRCRAFT_DELAY  float64
 27  Unnamed: 27          float64
dtypes: float64(20), int64(3), object(5)
memory usage: 1.2+ GB

In [4]:
df.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2016-01-01,DL,1248,DTW,LAX,1935,1935.0,0.0,23.0,1958.0,...,309.0,285.0,249.0,1979.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-01,DL,1251,ATL,GRR,2125,2130.0,5.0,13.0,2143.0,...,116.0,109.0,92.0,640.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-01,DL,1254,LAX,ATL,2255,2256.0,1.0,19.0,2315.0,...,245.0,231.0,207.0,1947.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01-01,DL,1255,SLC,ATL,1656,1700.0,4.0,12.0,1712.0,...,213.0,193.0,173.0,1590.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-01,DL,1256,BZN,MSP,900,1012.0,72.0,63.0,1115.0,...,136.0,188.0,121.0,874.0,72.0,0.0,52.0,0.0,0.0,NaN

In [5]:
df.shape

(5617658, 28)

In [6]:
df.isnull()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617653,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
5617654,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
5617655,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
5617656,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
5617657,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [7]:
df.isnull().sum()

FL_DATE                      0
OP_CARRIER                   0
OP_CARRIER_FL_NUM            0
ORIGIN                       0
DEST                         0
CRS_DEP_TIME                 0
DEP_TIME                 63456
DEP_DELAY                63456
TAXI_OUT                 65418
WHEELS_OFF               65418
WHEELS_ON                67844
TAXI_IN                  67844
CRS_ARR_TIME                 0
ARR_TIME                 67844
ARR_DELAY                79513
CANCELLED                    0
CANCELLATION_CODE      5551797
DIVERTED                     0
CRS_ELAPSED_TIME             6
ACTUAL_ELAPSED_TIME      79513
AIR_TIME                 79513
DISTANCE                     0
CARRIER_DELAY          4653419
WEATHER_DELAY          4653419
NAS_DELAY              4653419
SECURITY_DELAY         4653419
LATE_AIRCRAFT_DELAY    4653419
Unnamed: 27            5617658
dtype: int64

In [8]:
null_var = df.isnull().sum()/df.shape[0] *100
null_var

FL_DATE                  0.000000
OP_CARRIER               0.000000
OP_CARRIER_FL_NUM        0.000000
ORIGIN                   0.000000
DEST                     0.000000
CRS_DEP_TIME             0.000000
DEP_TIME                 1.129581
DEP_DELAY                1.129581
TAXI_OUT                 1.164507
WHEELS_OFF               1.164507
WHEELS_ON                1.207692
TAXI_IN                  1.207692
CRS_ARR_TIME             0.000000
ARR_TIME                 1.207692
ARR_DELAY                1.415412
CANCELLED                0.000000
CANCELLATION_CODE       98.827608
DIVERTED                 0.000000
CRS_ELAPSED_TIME         0.000107
ACTUAL_ELAPSED_TIME      1.415412
AIR_TIME                 1.415412
DISTANCE                 0.000000
CARRIER_DELAY           82.835570
WEATHER_DELAY           82.835570
NAS_DELAY               82.835570
SECURITY_DELAY          82.835570
LATE_AIRCRAFT_DELAY     82.835570
Unnamed: 27            100.000000
dtype: float64

In [9]:
drop_columns = null_var[null_var >20].keys()
drop_columns

Index(['CANCELLATION_CODE', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY',
       'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY', 'Unnamed: 27'],
      dtype='object')

In [10]:
df2_drop_clm = df.drop(columns = drop_columns)

In [11]:
df2_drop_clm.shape

(5617658, 21)

In [12]:
df2_drop_clm.isnull().sum()

FL_DATE                    0
OP_CARRIER                 0
OP_CARRIER_FL_NUM          0
ORIGIN                     0
DEST                       0
CRS_DEP_TIME               0
DEP_TIME               63456
DEP_DELAY              63456
TAXI_OUT               65418
WHEELS_OFF             65418
WHEELS_ON              67844
TAXI_IN                67844
CRS_ARR_TIME               0
ARR_TIME               67844
ARR_DELAY              79513
CANCELLED                  0
DIVERTED                   0
CRS_ELAPSED_TIME           6
ACTUAL_ELAPSED_TIME    79513
AIR_TIME               79513
DISTANCE                   0
dtype: int64

In [13]:
df3_drop_rows = df2_drop_clm.dropna()

In [14]:
df = df3_drop_rows

In [15]:
df.shape

(5538145, 21)

In [16]:
df.isnull().sum()

FL_DATE                0
OP_CARRIER             0
OP_CARRIER_FL_NUM      0
ORIGIN                 0
DEST                   0
CRS_DEP_TIME           0
DEP_TIME               0
DEP_DELAY              0
TAXI_OUT               0
WHEELS_OFF             0
WHEELS_ON              0
TAXI_IN                0
CRS_ARR_TIME           0
ARR_TIME               0
ARR_DELAY              0
CANCELLED              0
DIVERTED               0
CRS_ELAPSED_TIME       0
ACTUAL_ELAPSED_TIME    0
AIR_TIME               0
DISTANCE               0
dtype: int64

#  With date time , now creating a new column month, year , quarter

In [17]:
#now converting the type in FL_DATE in datetime format 
df['FL_DATE'] = pd.to_datetime(df['FL_DATE'])

# createting new columns for year, month, and quarter
df['Year'] = df['FL_DATE'].dt.year
df['Quarter'] = df['FL_DATE'].dt.quarter
df['Month'] = df['FL_DATE'].dt.month

C:\Users\PC\AppData\Local\Temp\ipykernel_18976\2966476688.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['FL_DATE'] = pd.to_datetime(df['FL_DATE'])
C:\Users\PC\AppData\Local\Temp\ipykernel_18976\2966476688.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = df['FL_DATE'].dt.year
C:\Users\PC\AppData\Local\Temp\ipykernel_18976\2966476688.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Quarter'] = df['FL_DATE'].dt.quarter
C:\Users\PC\AppData\Local\Temp\ipykernel_18976\2966476688.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Month'] = df['FL_DATE'].dt.month

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5538145 entries, 0 to 5617657
Data columns (total 24 columns):
 #   Column               Dtype
---  ------               -----
 0   FL_DATE              datetime64[ns]
 1   OP_CARRIER           object
 2   OP_CARRIER_FL_NUM    int64
 3   ORIGIN               object
 4   DEST                 object
 5   CRS_DEP_TIME         int64
 6   DEP_TIME             float64
 7   DEP_DELAY            float64
 8   TAXI_OUT             float64
 9   WHEELS_OFF           float64
 10  WHEELS_ON            float64
 11  TAXI_IN              float64
 12  CRS_ARR_TIME         int64
 13  ARR_TIME             float64
 14  ARR_DELAY            float64
 15  CANCELLED            float64
 16  DIVERTED             float64
 17  CRS_ELAPSED_TIME     float64
 18  ACTUAL_ELAPSED_TIME  float64
 19  AIR_TIME             float64
 20  DISTANCE             float64
 21  Year                 int64
 22  Quarter              int64
 23  Month                int64
dtypes: datetime64[ns](1), float64(14), int64(6), object(3)
memory usage: 1.0+ GB

In [19]:
df

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,ARR_DELAY,CANCELLED,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,Year,Quarter,Month
0,2016-01-01,DL,1248,DTW,LAX,1935,1935.0,0.0,23.0,1958.0,...,-24.0,0.0,0.0,309.0,285.0,249.0,1979.0,2016,1,1
1,2016-01-01,DL,1251,ATL,GRR,2125,2130.0,5.0,13.0,2143.0,...,-2.0,0.0,0.0,116.0,109.0,92.0,640.0,2016,1,1
2,2016-01-01,DL,1254,LAX,ATL,2255,2256.0,1.0,19.0,2315.0,...,-13.0,0.0,0.0,245.0,231.0,207.0,1947.0,2016,1,1
3,2016-01-01,DL,1255,SLC,ATL,1656,1700.0,4.0,12.0,1712.0,...,-16.0,0.0,0.0,213.0,193.0,173.0,1590.0,2016,1,1
4,2016-01-01,DL,1256,BZN,MSP,900,1012.0,72.0,63.0,1115.0,...,124.0,0.0,0.0,136.0,188.0,121.0,874.0,2016,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617653,2016-12-31,NK,112,IAH,BWI,615,613.0,-2.0,12.0,625.0,...,-5.0,0.0,0.0,170.0,167.0,144.0,1235.0,2016,4,12
5617654,2016-12-31,NK,113,BWI,IAH,2108,2229.0,81.0,9.0,2238.0,...,67.0,0.0,0.0,214.0,200.0,182.0,1235.0,2016,4,12
5617655,2016-12-31,NK,121,ORD,RSW,700,704.0,4.0,11.0,715.0,...,-17.0,0.0,0.0,172.0,151.0,136.0,1120.0,2016,4,12
5617656,2016-12-31,NK,124,RSW,ORD,1704,1711.0,7.0,9.0,1720.0,...,-6.0,0.0,0.0,183.0,170.0,154.0,1120.0,2016,4,12
5617657,2016-12-31,NK,126,FLL,MYR,2015,2208.0,113.0,21.0,2229.0,...,117.0,0.0,0.0,98.0,102.0,75.0,529.0,2016,4,12

In [20]:
df = df.drop(df.index[100000:5000000])

In [21]:
df.info

<bound method DataFrame.info of            FL_DATE OP_CARRIER  OP_CARRIER_FL_NUM ORIGIN DEST  CRS_DEP_TIME  \
0       2016-01-01         DL               1248    DTW  LAX          1935
1       2016-01-01         DL               1251    ATL  GRR          2125
2       2016-01-01         DL               1254    LAX  ATL          2255
3       2016-01-01         DL               1255    SLC  ATL          1656
4       2016-01-01         DL               1256    BZN  MSP           900
...            ...        ...                ...    ...  ...           ...
5617653 2016-12-31         NK                112    IAH  BWI           615
5617654 2016-12-31         NK                113    BWI  IAH          2108
5617655 2016-12-31         NK                121    ORD  RSW           700
5617656 2016-12-31         NK                124    RSW  ORD          1704
5617657 2016-12-31         NK                126    FLL  MYR          2015

         DEP_TIME  DEP_DELAY  TAXI_OUT  WHEELS_OFF  ...  ARR_DELAY  CANCELLED  \
0          1935.0        0.0      23.0      1958.0  ...      -24.0        0.0
1          2130.0        5.0      13.0      2143.0  ...       -2.0        0.0
2          2256.0        1.0      19.0      2315.0  ...      -13.0        0.0
3          1700.0        4.0      12.0      1712.0  ...      -16.0        0.0
4          1012.0       72.0      63.0      1115.0  ...      124.0        0.0
...           ...        ...       ...         ...  ...        ...        ...
5617653     613.0       -2.0      12.0       625.0  ...       -5.0        0.0
5617654    2229.0       81.0       9.0      2238.0  ...       67.0        0.0
5617655     704.0        4.0      11.0       715.0  ...      -17.0        0.0
5617656    1711.0        7.0       9.0      1720.0  ...       -6.0        0.0
5617657    2208.0      113.0      21.0      2229.0  ...      117.0        0.0

         DIVERTED  CRS_ELAPSED_TIME  ACTUAL_ELAPSED_TIME  AIR_TIME  DISTANCE  \
0             0.0             309.0                285.0     249.0    1979.0
1             0.0             116.0                109.0      92.0     640.0
2             0.0             245.0                231.0     207.0    1947.0
3             0.0             213.0                193.0     173.0    1590.0
4             0.0             136.0                188.0     121.0     874.0
...           ...               ...                  ...       ...       ...
5617653       0.0             170.0                167.0     144.0    1235.0
5617654       0.0             214.0                200.0     182.0    1235.0
5617655       0.0             172.0                151.0     136.0    1120.0
5617656       0.0             183.0                170.0     154.0    1120.0
5617657       0.0              98.0                102.0      75.0     529.0

         Year  Quarter  Month
0        2016        1      1
1        2016        1      1
2        2016        1      1
3        2016        1      1
4        2016        1      1
...       ...      ...    ...
5617653  2016        4     12
5617654  2016        4     12
5617655  2016        4     12
5617656  2016        4     12
5617657  2016        4     12

[638145 rows x 24 columns]>

In [22]:
df = df.drop(df.index[6000:600000]) #dropping the data because jupyter notebook crashed

# Performing the database related task

In [23]:
#connecting to database named aviationdata in MYSQL Workbench
mydb = mysql.connector.connect(
  host="127.0.0.1",
  port="3307",
  user="root",
  password="root",
  database="aviationdata"
)

In [24]:
# set up database connection
engine = create_engine("mysql+mysqlconnector://root:root@127.0.0.1:3307/aviationdata")

# insert data into table
with engine.connect() as conn:
    df.to_sql('flights', con=conn, if_exists='replace', index=False)

In [25]:
df.to_csv('C:\\Users\\PC\\OneDrive\\Desktop\\2016.csv\\finaldata.csv', index=False)

# creating new table to directly load the csv file data

In [26]:
# Creating the   table
cursor = mydb.cursor()
cursor.execute("CREATE TABLE IF NOT EXISTS flight_data (FL_DATE DATE, OP_CARRIER VARCHAR(255), OP_CARRIER_FL_NUM INTEGER, ORIGIN VARCHAR(255), DEST VARCHAR(255), CRS_DEP_TIME INTEGER, DEP_TIME FLOAT, DEP_DELAY FLOAT, TAXI_OUT FLOAT,WHEELS_OFF FLOAT,WHEELS_ON FLOAT,TAXI_IN FLOAT,CRS_ARR_TIME INTEGER,ARR_TIME FLOAT,ARR_DELAY FLOAT,CANCELLED FLOAT,DIVERTED FLOAT, CRS_ELAPSED_TIME FLOAT,ACTUAL_ELAPSED_TIME  FLOAT,AIR_TIME FLOAT,DISTANCE FLOAT,Year INTEGER, Quarter INTEGER, Month INTEGER)");

In [29]:
final_df = pd.read_csv('finaldata.csv')
final_df = final_df.replace(np.nan, 0)
insert_query = "INSERT INTO flight_data (FL_DATE,OP_CARRIER, OP_CARRIER_FL_NUM, ORIGIN, DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,Year,Quarter,Month) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s,%s, %s, %s, %s, %s, %s, %s, %s, %s, %s,%s, %s, %s, %s)"
values = final_df.values.tolist()
cursor.executemany(insert_query, values)
mydb.commit()

# Creating another table and load that table with data from previous created table.

In [32]:
# create engine to connect to MySQL database
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:root@127.0.0.1:3307/aviationdata')

# create connection object
connection = engine.connect()

# create new table
connection.execute('CREATE TABLE IF NOT EXISTS new_flight_data LIKE flight_data')

# insert data from the previous table into the new table
connection.execute('INSERT INTO new_flight_data SELECT * FROM flight_data')

# close the connection
connection.close()